body{
    background-color: var(--cor_fundo);
    font-family: 'Raleway', sans-serif;
}



@media(min-width: 320px){
    .body{
        width: 100%;
    }
}

@media(min-width: 768px){
    .body{
        width: 100%;
    }
}

@media(min-width: 1000px){
    .body{
        width: 100%;
    }
}